{% extends 'logserver/base.html' %}

{% block container %}
<h4>Logs</h4>
<table class="table table-sm table-striped table-bordered"
               data-toggle="table"
               data-sort-name="no"
               data-sortable="true"
               id="dataTable" width="100%">
    <thead class="table-dark">
    <tr>
        <th data-field="no" data-sortable="true" style="width:5%">#</th>
        <th data-field="name" data-sortable="true">Logfile</th>
        <th data-field="size" data-sortable="true">Size</th>
        <th data-field="date" data-sortable="true">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'logs_download' id item.name %}"> {{ item.name }}</a> (<a href="{% url 'logs_parse' id item.name %}">parsed</a>)</td>
        <td>{{ item.size }}</td>
        <td>{{ item.mtime|date:'H:i j-M-Y' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}