{% extends 'logserver/base.html' %}

{% block container %}
<h4>Logs</h4>
<table class="table table-sm table-striped table-bordered"
               data-toggle="table"
               data-sort-name="no"
               data-sortable="true"
               id="dataTable" width="100%">
    <thead class="table-dark">
    <tr>
        <th data-field="no" style="width:1%">#</th>
        <th data-field="name" data-sortable="true">KitBox</th>
        <th data-field="num" data-sortable="true">Num of logs</th>
        <th data-field="last" data-sortable="true">Last log</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'logs_id' item.id %}"> {{ item.id }} </a></td>
        <td>{{ item.size }}</td>
        <td>{{ item.last_log }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}