{% extends 'logserver/base.html' %}
{% load crispy_forms_tags %}
{% load logserver_tags %}

{% block container %}
<h4>Device #{{ device.modem_id }}</h4>

{% crispy form %}
<hr>
<h3>События:</h3>
<table class="table table-sm table-striped table-bordered"
       data-toggle="table"
       data-sort-name="num"
       data-sortable="true"
       id="dataTable" width="100%">
  <thead class="table-dark">
  <tr>
    <th data-field="num" data-sortable="true" style="width:1%">#</th>
    <th data-field="date" data-sortable="true">Дата</th>
    <th data-field="event" data-sortable="true">Тип</th>
    <th data-field="msg" data-sortable="true">Сообщение</th>
  </tr>
  </thead>
  <tbody>
  {% for event in events %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ event.received_at|date:'H:i j-M-Y' }}</td>
    <td>{{ event.type|event_name }}</td>
    <td>{{ event.payload }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}